/************* Fondo Imagen & Color ***************/
.bgImg {
  background-image: url("https://www.xtrafondos.com/wallpapers/la-ultima-cena-de-rick-y-morty-6568.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      position:fixed;
      width: 100%;
      height: 100%;
      overflow: scroll;
      z-index: 100;
    }
    
    /************* NavBar ***************/
    .nav {
      display: flex;
      background: rgba(235, 229, 225, 0.69);
      border: 1px solid #8f8e8e;
      height: 60px;
      width: 100%;
      top: 0px;
      position: fixed;
      z-index: 80;
    }
    
    .nav div {
      margin: auto;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;
      padding: 3px;
    }
    
    .nav button {
      border-radius: 5px;
      margin-left: 2px;
      margin-top: 5px;
      height: 35px;
      width: 120px;
      padding: 5px;
      text-align: center;
      border: 1px solid #8f8e8e;
      font-family: "DM Sans", sans-serif;
      background: rgba(247, 244, 243, 0.69);
      font-size: 20px;
      font-weight: bold;
    }
    
    .nav button:hover {
      cursor: pointer;
      transition: background-color 0.5s;
      background-color: white;
      color: black;
      font-weight: bold;
      border: 1px solid #313131;
    }
    
    /************* Title recipe ***************/
    .bgImg {
      display: flexbox;
      justify-content: center;
      
    }


    .bgDetail {
      width: 300px;
      height: 10%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      border-radius: 20px;
      box-shadow: 5px 5px 15px 5px #000000;
      margin-top: 50px;
      margin-left: 5px;
      margin-bottom: 20px;
      padding: 20px 0px;
      font-family: "Source Serif Pro", serif;
      background-color: antiquewhite;
    }
    
    /************* image recipe ***************/
    .imagen {
      width: 300px;
      height: 200px;
      border-radius: 25px;
      box-shadow: 5px 5px 15px 5px #000000;
      margin-left: 5px;
    }
  
     
    /************* Contenedor summary y steps - H3 - P ***************/
    .contenido3 {
      
      margin-block-end: 55px;
      background-color: antiquewhite;
      
    }
    
     .contenido3 h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
    
    .contenido3 p {
      font-family: Arial, Helvetica, sans-serif;
    }